---
title: Outreach
call_to_action: Contact
background_image_path:
large_header: false
show_in_navigation: true
navigation_order: 4
---

<p class="editable">In progress</p>

<h3>Personal profile on Bluesky</h3>

<div class="columns">
  <script type="module" src="https://cdn.jsdelivr.net/npm/bsky-embed/dist/bsky-embed.es.js" async></script>
  <bsky-embed
    username="juliaeckert.bsky.social"
    mode=""
    limit="1"
    disable-images="false"
    disable-videos="False"
    disable-autoplay="true"
  >
  </bsky-embed>
</div>


<h3>Epithelial Mechanics Fan Club profile on Bluesky</h3>
<p> Together with Nimesh Chahare, I manage the Epithelial Mechanics Fan Club. 
We provide a platform for young researchers from all over the world to share research interest and network, 
and we posts threads from our delegates as well as articles on various topics related to #EpithelialMechanics.</p>


<div class="columns">
  <script type="module" src="https://cdn.jsdelivr.net/npm/bsky-embed/dist/bsky-embed.es.js" async></script>
  <bsky-embed
    username="epimechfc.bsky.social"
    mode=""
    limit="1"
    disable-images="false"
    disable-videos="False"
    disable-autoplay="true"
  >
  </bsky-embed>
</div>



<!--
<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Update Posts</a></p>

<ol class="post-list">
	{% for post in paginator.posts %}
		{% include post-summary.html post=post %}
	{% endfor %}
</ol>

{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page %}
			<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer</a>
		{% elsif paginator.next_page %}
			<span></span>
		{% endif %}

		<span>{{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older &rarr;</a>
		{% elsif paginator.previous_page %}
			<span></span>
		{% endif %}
	</div>
{% endif %}
-->
